@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Nunito;
  src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Opensans;
  src: url("./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: Fugaz;
  src: url("./assets/fonts/Fugaz/FugazOne-Regular.ttf") format("truetype");
}

.bg-feathers {
  background-image: url("./assets//images//feathers.png");
  background-position: 58rem -15rem;
  /* background-repeat: no-repeat; */
  background-size: cover;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.Helvetica {
  font-family: Helvetica, sans-serif;
}

.blob {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M861.5 613.5Q813 727 713.5 788T498 856q-116 7-238-43T103.5 631.5Q69 500 106 370.5T248.5 145Q354 49 484 99.5t224 116q94 65.5 148 175t5.5 223Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23f4f5ff%22 d=%22M861.5 613.5Q813 727 713.5 788T498 856q-116 7-238-43T103.5 631.5Q69 500 106 370.5T248.5 145Q354 49 484 99.5t224 116q94 65.5 148 175t5.5 223Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.presZ {
  /* transform-style: preserve-3d; */
  transform: translateZ(90px);
}

.d3d {
  transform-style: preserve-3d;
}


@layer utilities {
  .bg-fade-bottom {
    background: linear-gradient(to bottom,
        transparent 0%,
        transparent 75%,
        rgba(255, 255, 255, 0.2) 80%,
        rgba(255, 255, 255, 0.6) 90%,
        rgba(255, 255, 255, 1) 100%);
  }

  .dark-bg-fade-bottom {
    background: linear-gradient(to bottom,
        transparent 0%,
        transparent 75%,
        rgba(17, 17, 17, 0.2) 80%,
        rgba(17, 17, 17, 0.6) 90%,
        #111 100%);
  }

  .bg-fade-top {
    background: linear-gradient(to top,
        transparent 0%,
        transparent 75%,
        rgba(255, 255, 255, 0.2) 80%,
        rgba(255, 255, 255, 0.6) 90%,
        rgba(255, 255, 255, 1) 100%);
  }

  .dark-bg-fade-top {
    background: linear-gradient(to top,
        transparent 0%,
        transparent 75%,
        rgba(17, 17, 17, 0.2) 80%,
        rgba(17, 17, 17, 0.6) 90%,
        #111 100%);
  }

  .bg-fade-left {
    background: linear-gradient(to left,
        transparent 0%,
        transparent 75%,
        rgba(255, 255, 255, 0.2) 80%,
        rgba(255, 255, 255, 0.6) 90%,
        rgba(255, 255, 255, 1) 100%);
  }

  .dark-bg-fade-left {
    background: linear-gradient(to left,
        transparent 0%,
        transparent 75%,
        rgba(17, 17, 17, 0.2) 80%,
        rgba(17, 17, 17, 0.6) 90%,
        #111 100%);
  }

  .bg-fade-right {
    background: linear-gradient(to right,
        transparent 0%,
        transparent 75%,
        rgba(255, 255, 255, 0.2) 80%,
        rgba(255, 255, 255, 0.6) 90%,
        rgba(255, 255, 255, 1) 100%);
  }

  .dark-bg-fade-right {
    background: linear-gradient(to right,
        transparent 0%,
        transparent 75%,
        rgba(17, 17, 17, 0.2) 80%,
        rgba(17, 17, 17, 0.6) 90%,
        #111 100%);
  }
}

/* Marquee animation for testimonials */
.marquee-container {
  animation: marquee 30s linear infinite;
}

.marquee-container:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}